body {

    padding: 1rem;

}

.contentBox {
    margin: 0 auto;
    width: 100%;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    border-color: #96D4D4;

}
td, th {
    border: 1px solid #ccc;
    text-align: center;
}
th {
    background: lightblue;
    border-color: white;
}
.logo {
    width: 200px;
    height: 100px;
}

.logo img {
    height: 100%;
    width: 100%;
}